<h1 class = 'center-align'>All Hikes</h1>

{{!-- Only a logged in user can post a hike --}}
{{!-- {{#if currentUser}}
        <a id = "postbtn" class="waves-effect waves-light btn" href = "/hikes/new">Post a new hike</a>
{{/if}} --}}

<div class = 'listlayout'>
        <div>
                <button  id = "postbtn" class="removelayer waves-effect waves-light btn">Remove Map Layers</button>
        </div>
        <div class = 'mapcontainer'>
                <div id = 'mapall'></div>
                <div class = 'map-filter'>
                        
                          <div class="input-field col s12">
                                <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                </select>
                                <label>Select Difficulty</label>
                        </div>
                        
                </div>
        </div>
        <div class = 'hikecontainer'></div>
        
</div>
<script type="text/javascript" src="../js/maps.js"></script>