<h1>List Hikes</h1>
{{#if currentUser}}
<a href = "/hikes/new">Post a new hike</a>
{{/if}}

<ul>
    {{#each hikes}}
    <li>
        <a href = '/hikes/{{this.id}}'>{{this.hikeTitle}}</a>
    </li>
    {{/each}}
</ul>