<h1 class = 'center-align'>All Hikes</h1>

{{!-- Only a logged in user can post a hike --}}
{{!-- {{#if currentUser}}
        <a id = "postbtn" class="waves-effect waves-light btn" href = "/hikes/new">Post a new hike</a>
{{/if}} --}}

<div class = 'listlayout'>
        <div id = 'mapall'></div>
        <div class = 'hikecontainer'></div>
</div>
<script type="text/javascript" src="../js/maps.js"></script>