<h1>Post a new hike!</h1>

<div class = 'userforms'>
    <form action = "/hikes" method = "POST">
        <p>
            <label for = "hikeTitle">Hike Title</label>
            <input type = "text" name = "hikeTitle" required>
        </p>

        <p>
            <label for = "drivingDistance">Driving Distance</label>
            <input type = "text" name = "drivingDistance" required>
        </p>

        <p>
            <label for = "hikeDifficulty">Difficulty<label>
            <input type = "number" name = "hikeDifficulty" required>
        </p>
        <p>
            <label for = "hikeDuration">Duration<label>
            <input type = "text" name = "hikeDuration" required>
        </p>
        <p>
            <label for = "hikeSummary">Hike Summary</label>
            <input type = "text" name = "hikeSummary" required>
        </p>
        <input class="waves-effect waves-light btn"  type = "submit" value = "Add Hike">
    </form>
</div>