<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type = "text/css" href="../../materialize/css/materialize.css">
    <link rel="stylesheet" type = "text/css" href="../../style.css">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <link href="../../nouislider.css" rel="stylesheet">
    <title>Citi Hikes</title>
</head>
<body>
    <div class = 'navbar-fixed'>
      <nav>
        <div class = 'nav-wrapper green'>
          <ul>
                <li><a href="/hikes">All Hikes</a></li>
          </ul>
          <ul class = 'brand-logo center'>
            <li>CITI-HIKES</li>
          </ul>
          <ul class = 'right'>
                {{#if currentUser}}
                  <li><a href="/users/{{currentUser}}">My Profile Page</a></li>
                  <li><a href="/users/logout">Logout</a></li>
                {{else}}
                  <li><a href="/users/login">Login</a></li>
                  <li><a href="/users/new">Signup</a></li>
                {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    {{{body}}}
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../materialize/js/materialize.min.js"></script>
      <script src="../../nouislider.min.js"></script>
</body>
</html>