body {
    background: white;
}

.userforms {
   max-width: 75%;
   margin: auto;
}

.displayhike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: red solid 2px; */
    /* margin-right: 10%;
    margin-left: 10%; */
    padding: 15px;
}

.hikebox {
    /* border: green solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 40px;
}

.hikecontent {
    max-width: 500px;
}

.hiketop {
    width: 100%;
}

.hikebottom {
    /* border: orange solid 2px; */
}

.hikesummary {
    border: solid black 2px;
    padding: 10px;
    width: 30%;
    margin: 10px;
    min-width: 175px;
}

.hiketitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hikecontent {
    border: solid black 2px;
    padding: 10px;
    width: 75%;
    margin: 10px;
}

.hikecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.listlink{
    font-size: 30px;
    color: black;
}

.hikecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    height: 100px;
    width: 300px;
    margin: 30px;
}

.commentscontainer {
    margin-left: 10%;
    margin-right: 40%;
}

.comment {
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

#postbtn {
    margin-left: 100px;
}