body {
    background: white;
}

.userforms {
   max-width: 75%;
   margin: auto;
}

.displayhike {
    display: flex;
    
    border: red solid 2px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
}

.hikesummary {
    border: solid black 2px;
    padding: 10px;
    width: 50%;
    margin: 10px;
}

.hikecontent {
    border: solid black 2px;
    padding: 10px;
    width: 50%;
    margin: 10px;
}

.hikecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.hikecard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hikecard {
    background-color: whitesmoke;
    height: 100px;
    width: 300px;
    margin: 30px;
}

.commentscontainer {
    margin-left: 10%;
    margin-right: 40%;
}

.comment {
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

#postbtn {
    margin-left: 100px;
}