body {
    background: white;
}

.userforms {
   max-width: 75%;
   margin: auto;
}
.locationform {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.title {
    margin: 10px 0px 0px 0px;
}

.displayhike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.hikebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 40px;
}

.stats {
    font-size: 20px;
}

.hikecontent {
    max-width: 300px;
}

.hiketop {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hikesummary {
    
    border: solid black 2px;
    margin-right:5px;
    padding: 10px;
    width: 20%;
    min-width: 215px;
    max-width: 500px;
}

#map {
    border: solid black 2px;
    margin-left: 5px;
    width: 40%;
    min-width: 175px;
    max-width: 500px;
}
#mapall {
    border: solid black 2px;
    /* margin-left: 5px; */
    width: 75%;
    height: 500px;
}
.listlayout {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.hiketitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hikecontent {
    border: solid black 2px;
    padding: 10px;
    width: 75%;
    margin: 10px;
}

.hikecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.listlink{
    font-size: 20px;
    color: black;
    text-align: center;
}

.hikecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    height: 100px;
    width: 300px;
    margin: 30px;
}

.commentscontainer {
    margin-left: 10%;
    margin-right: 40%;
}

.comment {
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

#postbtn {
    margin-left: 100px;
}

.userdelete {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.list{
    display: flex;
}

.distance-align {
    text-align: center;
}

.details {
    margin: 0 auto;
    display: flex;
}

.mapcontainer{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.map-filter{
    height: 500px;
    width: 300px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

#elevation-slider{
    margin:10px;
}
#distance-slider{
    margin:10px;
}