<h1 class = 'commentscontainer'>{{user.local.email}}'s Profile</h1>

<h2 class = 'center-align'>PostedHikes</h2>

<div class = 'hikecontainer'>
        {{#each hikes}}
        <a class = 'listlink' href = '/hikes/{{this.id}}'>
        <div class = 'hikecard'>
            <p>{{this.hikeTitle}}</p>
        </div>
        </a>
        {{/each}}
</div>