<h1 class = 'commentscontainer'>{{user.local.email}}'s Profile</h1>

<h2 class = 'center-align'>Pinned Hikes</h2>

<div class = 'hikecontainer'>
        {{#each user.favoriteHikes}}
        <a class = 'listlink' href = '/hikes/{{this.hikeID}}'>
        <div class = 'hikecard'>
            <p>TEST</p>
        </div>
        </a>
        {{/each}}
</div>